*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
height: 100vh;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
background: linear-gradient(lightblue,grey);
font-family:'ZCOOL KuaiLe';
color: whitesmoke;
}

.location,
.temperature{
    height: 35vh;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.temperature{
    flex-direction: center;
}

.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 30px

}

.degree-section span {
    margin: 20px;
    font-size: 90px;

}

.degree-section h2{
    font-size: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }